/**********************
Content Middle
**********************/
.content-middle {
  margin-top: -128px;
  height: 100%;
  
  .title-block {
    padding-left: 1rem;
    position: relative;
    
    &:after {
      //opacity: 0;
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
    }
    &.show-animate:after {
        animation: animate 1s linear forwards;
      }
      @keyframes animate {
        0% {
          width: 0;
          height: 0;
          border-top-color: $black;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
        50% {
          width: 0;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
        100% {
          width: 100%;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
      }
  }

  #intro-sub-titles {
    li {
      opacity: 0;
    }
  }

  .sub-titles {
    font-weight: 300;
    font-size: 2.5rem;
    font-family: $font-open;
  }

  h1 {
    font-family: $font-raleway;
    font-weight: 100;
    font-size: 3.9rem;
    line-height: 0.5;
    margin-bottom: 30px;
  }

  p {
    font-family: $font-josefin;
    font-size: 0.875rem;
    @media only screen and (min-width: 993px){
      font-size: 1rem;
    }
  }

  .writeup {
    margin-top: 4rem;
    @media only screen and (min-width: 601px){
      margin-top: 0;
    }
  }

  .introduction {
    width: 100%;
    padding: 4rem 0;
    transition: all 300ms ease;
    @media only screen and (min-width: 768px){
      padding: 6rem 0 2rem 0;
    }
    @media only screen and (min-width: 992px){
      padding: 12rem 0;
    }
    .title-block {
      padding-bottom: 1rem;
    }
    .sub-titles {
      margin: 1rem 2.5rem;
    }
    // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
  }

  .services {
    position: relative;
    top: -25%;
    //margin-top: -60%;
    @media (min-width: 450px){
      top: -28%;
    }
    @media (min-width: 550px){
      top: -32%;
    }
    @media (min-width: 768px){
      top: -36%;
    }
    @media (min-width: 993px){
      top: 0;
    }

    .row .col {
      padding: 0;
      float: none;
      @media only screen and (min-width: 600px){
        float: left;
      }
    }

    .service {
      position: relative;
      width: 100%;
      padding: 56.25% 0 0; 
      //transition: all 500ms ease;

      img {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        @media only screen and (max-width: 992px){
          max-height: 100%;
        }
      }

      .cta-writeup {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -25%);
        width: 90%;
        height: auto;
        padding: 1rem;
        background-color: white;
        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
        }

        h1 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 1.6rem;
          font-family: $font-raleway;
        }
        h2, p {
          padding-left: 1rem;
          padding-right: 1rem;
        }

        @media (min-width: 993px){
          min-height: 150px;
        }
      }

      &.cta1 {
        margin-bottom: 190px;
        img {
          position: relative;
        }
        @media (min-width: 993px){
          padding: 0%;
          position: relative;
          .cta-writeup {
            transform: translate(-50%, -20%);
          }
        }
      }

      &.cta2 {
        margin-bottom: 175px;
        @media (min-width: 993px){
          padding: 0%;
          bottom: 300px;
          height: 33vw;
          .cta-writeup {
            transform: translate(-50%, 5%);
            &:after {
              left: 0;
              border-left: 1px solid black;
              border-bottom: 1px solid black;
              border-right: 0;
            }
          }
          .service-img-wrap {
            max-width: 70%;
            float: right;
          }
          img {
            position: relative;
          }
        }
      }

      &.cta3 {
        @media (min-width: 993px){
          bottom: 500px;
          height: 33vw;
          padding: 0;
          .service-img-wrap {
            max-width: 70%;
            height: 100%;
          }
          img {
            height: 100%;
            position: relative;
          }
          .cta-writeup {
            left: 0;
            transform: translate(-28%, -17%);
            &:after {
              left: 0;
              border-left: 1px solid black;
              border-bottom: 1px solid black;
              border-right: 0;
            }
          }
        }
        @media (min-width: 1400px){
          bottom: 600px;
        }
      }
    }
  }
}