/**********************
Content Middle
**********************/
.content-middle {
  margin-top: -128px;
  height: 100%;
  .col {
    width: 100%;
  }

  .title-block {
    padding-left: 1rem;
    position: relative;
    
    &:after {
      //opacity: 0;
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
    }
    &.show-animate:after {
        animation: animate 1s linear forwards;
      }
      @keyframes animate {
        0% {
          width: 0;
          height: 0;
          border-top-color: $black;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
        50% {
          width: 0;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
        100% {
          width: 100%;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
      }
  }

  #intro-sub-titles {
    li {
      opacity: 0;
    }
  }

  .sub-titles {
    font-weight: 300;
    font-size: 2.5rem;
    font-family: $font-open;
  }

  h1 {
    font-family: $font-raleway;
    font-weight: 100;
    font-size: 3.9rem;
    line-height: 0.5;
    margin-bottom: 30px;
  }

  p {
    font-family: $font-josefin;
    font-size: 0.875rem;
    @media only screen and (min-width: 993px){
      font-size: 1rem;
    }
  }

  .writeup {
    margin-top: 4rem;
    @media only screen and (min-width: 601px){
      margin-top: 0;
    }
  }

  .introduction {
    width: 100%;
    padding: 4rem 0;
    transition: all 300ms ease;
    @media only screen and (min-width: 768px){
      padding: 6rem 0 2rem 0;
    }
    @media only screen and (min-width: 992px){
      padding: 12rem 0;
    }
    .title-block {
      padding-bottom: 1rem;
    }
    .sub-titles {
      margin: 1rem 2.5rem;
    }
    // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
  }

  #services .container div:last-child {
    margin-bottom: 20px;
  }

  #services {
    @media (min-width: 1400px){
      margin-bottom: -276px;
    }
  }

  
  .services .row {
    margin-bottom: 180px;
    @media (min-width: 993px){
      margin-bottom: 0;
    }
    @media (min-width: 1400px){
      &.up-shift {
        position: relative;
        top: -200px;
      }
    }
  }

  .service {
    position: relative;
    .cta-writeup {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -25%);
        width: 90%;
        height: auto;
        padding: 1rem;
        background-color: white;
        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
        }
      h1, h2 {
        font-size: 1.6rem;
      }
      h2 {
        font-family: $font-raleway;
      }
      h2, p {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      @media (min-width: 993px){
        min-height: 150px;
      }
    }

    img {
      display: block;
      width: 100vw;
      height: 56.25vw;
      max-width: 100%;
      object-fit: cover;
    }

    @media (min-width: 993px){
      img {
        width: 100%;
        height: auto;
        display: inline-block;
      }
      &.cta2, &.cta3 {  
        img {
          width: 70%;
          height: 30vw;
        }  
      }
      &.cta2 .service-img-wrap {
        text-align: right;
      }
      &.cta3 .cta-writeup{
        left: 0;
        transform: translate(-28%, -17%);
        &:after {
          left: 0;
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          border-right: 0;
        }
      }
    }
  }// END SERVICE CLASS

  .portfolio-cta {
    width: 100%;
    h2 {
      @include section-title;
    }
    p {
      margin: 2rem auto 3rem;
    }
  }

  .services-clear {
    min-height: 180px;
    &.large {
      display: none;
    }
  }
  .services-clear, .services-clear.large {
    @media (min-width: 993px){
      display: block;
      min-height: 230px;
      background: transparent;
    }
  }

  #testimonial {
    position: relative;
    h2 {
      @include section-title;
    }
    blockquote {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-left: none;
    }
    .carousel.carousel-slider {
      margin-top: -120px;
    }
    .indicators .indicator-item {
      &.active {
        background: $black;
      }
      border: 1px solid $black;
    }
  }

  #full-cta {
    @media (min-width: 993px){
      //margin-top: 300px;
    }
    height: 500px;
    background: $black;
  }
}