

/**********************
General
**********************/
html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}


/**********************
Navigation
**********************/
body {
  background: $white;
}

nav {
    height: 128px;
    line-height: 128px;
    box-shadow: none;
    background: transparent;
    z-index: 5;

    @media only screen and (min-width: 993px){
      ul a {
        color: $white;
        line-height: 0;
        margin-top: 64px;
        &:hover {
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 128px;
    line-height: 128px;
}

nav .button-collapse i {
    height: 128px;
    line-height: 128px;
}


nav .brand-logo { 
    font-size: 1.6rem;
    max-height: 108px;
    padding-top: 10px;
    display: none;
}

nav .brand-logo img {
  max-height: 108px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 128px;
      line-height: 128px;
    }
}

@media only screen and (min-width: 993px){
 nav .brand-logo {
    display: block;
  }
}

.mobile-menu-image {
  background: url();
}

#sidenav-overlay {
  background-color: rgba(0,0,0,0);
}

//HeadroomJS CSS
.navbar-fixed {
  position: relative;
  height: 128px;
  transition: all 400ms ease;
  top: 0;
  &.slideUp{
    top: -128px;
  }
  &.slideDown {
    top: 0px;
  }
}

/**********************
Video Banner
**********************/
.video-container {
  position: relative;
  //z-index: -5;
  top: -128px;
  min-width: 100%;
  min-height: 100%;

  &:after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.mobile-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  img {
    max-width: 250px;
  }

  @media only screen and (min-width: 993px){
    display: none;
  }
}

.arrow-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  // background: url(assets/images/arrow_down.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  z-index: 15;
  img {
    max-width: 60px;
    max-height: 60px;
  }
}

/**********************
Content Middle
**********************/
.content-middle {
  margin-top: -128px;
  
  .title-block {
    padding-left: 1rem;
    position: relative;
    
    &:after {
      //opacity: 0;
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
    }
    &.show-animate:after {
        animation: animate 1s linear forwards;
      }
      @keyframes animate {
        0% {
          width: 0;
          height: 0;
          border-top-color: $black;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
        50% {
          width: 0;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
        100% {
          width: 100%;
          height: 100%;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: $black;
          border-left-color: $black;
        }
      }
  }

  #intro-sub-titles {
    li {
      opacity: 0;
    }
  }

  .sub-titles {
    font-weight: 300;
    font-size: 2.5rem;
    font-family: $font-open;
  }

  h1 {
    font-family: $font-raleway;
    font-weight: 100;
    font-size: 3.9rem;
    line-height: 0.5;
    margin-bottom: 30px;
  }

  p {
    font-family: $font-josefin;
    font-size: 0.875rem;
    @media only screen and (min-width: 993px){
      font-size: 1rem;
    }
  }

  .writeup {
    margin-top: 4rem;
    @media only screen and (min-width: 601px){
      margin-top: 0;
    }
  }

  .introduction {
    width: 100%;
    padding: 4rem 0;
    transition: all 300ms ease;
    @media only screen and (min-width: 992px){
      padding: 12rem 0;
    }
    .title-block {
      padding-bottom: 1rem;
    }
    .sub-titles {
      margin: 1rem 2.5rem;
    }
    // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 16%);
  }

  .services {
    .row .col {
      padding: 0;
      float: none;
      @media only screen and (min-width: 600px){
        float: left;
      }
    }

    .service {
      position: relative;
      width: 100%;
      padding: 56.25% 0 0; 
      transition: all 500ms ease;

      //Remove padding on tablet for CTA portraits to be full height
      @media only screen and (min-width: 992px){
        //padding: 0;
      }

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        @media only screen and (max-width: 992px){
          max-height: 100%;
        }
      }

      .cta-writeup {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -20%);
        width: 90%;
        height: auto;
        padding: 1rem;
        background-color: white;
        @media (min-width: 993px){
          //transform: translate(-50%, 0%);
        }
        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
        }

        h1 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 1.6rem;
          font-family: $font-raleway;
        }
        h2, p {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      &.cta1 {
        margin-bottom: 190px;
      }

      &.cta2 {
        @media (min-width: 993px){
          float: right;
          //width: 60%;
          padding: 0%;
          position: relative;
          bottom: 250px;
          .cta-writeup {
            // min-width: 318.859px;
            // left: 0%;
            // left: auto;

            // transform: translate(0,0);
            &:after {
              left: 0;
              border-left: 1px solid black;
              border-bottom: 1px solid black;
              border-right: 0;
          }
          }
          img {
            width: 60%;
            float: right;
            position: relative;
          }
        }
      }
    }
  }
}